/*
Theme Name: Detale
Theme URL: www.detale.ca
Author: Carl Beaverson
Author URI: http://detale.ca
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: detale
Tags:

Detale is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}



.main-navigation li {
	float: left;
	position: relative;
	margin-top:20px;
	
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul {
	display:block;
	list-style: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
----------------------------------------------------------------
		STYLING BY CARL BEAVERSON
----------------------------------------------------------------
--------------------------------------------------------------*/
body, p, a {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
.home main {
	min-height:600px;
}
.hidden {
	display:none;
}
/*--------------------------------------------------------------
		    HEADER STYLING
--------------------------------------------------------------*/
#masthead {
	position:fixed;
	width:100%;
	z-index:20;
        display:none;
	height:100vh;
	background-color:rgba(0, 0, 0, 0.8);
}


#masthead .site-branding #site-logo {
	width: 250px;
    	height: 25px;
    	background-image: url(img/animated/detale-logo-black.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin:15px;
}


#masthead #primary-menu {
	float:right;
	padding-left: 10%;
	padding-right: 10%;
        margin: 0px;
	
}
#masthead #primary-menu li {
	text-align:center;
	width:100%;
}	
#masthead #primary-menu li a{
	color:#999;
    	text-transform: uppercase;
    	letter-spacing: 9px;
    	font-size: 30px;
    	font-weight: 400;
	margin-top:10px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	
}
#masthead #primary-menu li a:hover {
 	border-bottom:1px solid #fff;
	color:#fff;
}
#masthead .site-description {
	display:none;
}

.lazy-load {
	width:100%;
        display: block;
}

/*--------------------------------------------------------------
		 MAIN NAVIGATION STYLING
--------------------------------------------------------------*/
#masthead .main-navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 600px;
    width:100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#burger-menu {
    right: 2rem;
    width: 35px;
    position: fixed;
    top:27px;
    display: block;
    height: 16px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:100;
}
#burger-menu span {
     right: 45px;
     position: absolute;
     top: 1px;
     color: #ddd;
}
.sticks_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.stick {
    width: 100%;
    height: 3px;
    background-color:#ddd;
    position:absolute;
}
#stick1 {
    top:4px;
}
#stick2 {
    top:10px;	
}
#stick3 {
    top:16px;
}


/*--------------------------------------------------------------
		    SECTION STYLING
--------------------------------------------------------------*/

.home .page_section {
	height:100vh;
	overflow:auto;
	padding-bottom:50px;
}
.home .section {
	min-height:400px;
}
.home .page_section .section-content {
	width:100%;
	margin:0px auto;
	text-align:center;
}
.home .page_section .section-content h1 {
	text-align:left;
	text-transform: uppercase;
    	font-size: 20px;
    	letter-spacing: 1px;
	margin-bottom:50px;
	color:#949494;
	margin-top:5px;
	
}
.home .section-border {
	height: 65px;
    	position: relative;
    	bottom: 0px;
    	margin-top: 200px;
}
.home .page_section .section-content .container p {
    	font-size: 14px;
    	font-weight: 300;
}
#about-detale {
	background-color: #fff;
}
#portfolio {
	background-color: #fff;
	min-height:100vh;
	height: auto;
}
#contact {
	background-color: #fff;
}
.home .section-title {
	width: 100%;
    	text-align: right;
    	position: relative;
    	float: left;
}
.home .section-title .title-and-corner {
	width: 125px;
    	float: right;
}
.home .section-title .title-corner {
	width: 25px;
    	height: 25px;
    	margin-left: 2px;
}
.home .section-title .title-corner svg {
	width:100%;	
	height:100%;
}
/*--------------------------------------------------------------
		    SPLASH SCREEN STYLING
--------------------------------------------------------------*/
.home #splashscreen {
	position:relative;
	width:100%;
	height:100vh;
	overflow:hidden;
	background-color:#fff;
}
.home #splashscreen-copy {	
	text-align: center;
    	display: block;
    	position: absolute;
    	top: 45%;
    	left: 50%;
    	width: 40%;
    	height: auto;
    	transform: translate(-50%, -50%);
    	-moz-transform: translate(-50%, -50%);
    	-ms-transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
    	z-index: 15;
    	cursor: pointer;
    	padding: 1.5%;
    	opacity: 0;
    	transition-duration: 1s;
}
.underlined-title {
	display: inline-block;
	position: relative;
}
.underlined-title {
	content: '';
	height: 35px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.underlined-title:hover:after {
	height: 3px;
	background: blue;
}

.home #splashscreen-copy:hover {
	transition-duration:1s;
	opacity:1;
}
.home #splashscreen-copy svg {
}
.home .splashscreen-arrow-overlay {
	height: 100vh;
    	width: 30%;
    	background-image: url('img/arrow-overlay.png');
    	z-index: 10;
    	position: absolute;
    	right: 0px;
	background-size:100%;
	opacity:0;
	transition-duration: 1s;

}
.home #splashscreen-arrow-left {
	left: 0px;
	transform:rotate(180deg);
	cursor:w-resize;
	display:none;

}

.home #splashscreen-arrow-right {
	right: 0px;
	cursor:e-resize;	
	display:none;
}	
.home .splashscreen-arrow-overlay:hover {
	opacity:0;
}
.home .splash-arrow {
	width: 35px;
    	height: 35px;
    	background-size: 100%;
    	position: absolute;
    	bottom: 4rem;
    	left: 50%;
    	display: block;
    	margin: 0;
    	text-transform: uppercase;
    	cursor: pointer;
    	-moz-transform: translate(-50%, 0);
    	-ms-transform: translate(-50%, 0);
    	-webkit-transform: translate(-50%, 0);
    	transform: translate(-50%, 0);
	border: 1.5px solid #fff;
    	border-radius: 50%;
	z-index:2;
}
.home .st1 {
	fill:#eee !important;
}
.home .splash-logo-mobile {
	display:none;
}
@media only screen 
and (orientation : portrait)
{ 
	.home .splash-logo-mobile {
	display:block;
	}
	.home #splashscreen #animated-logo { 
		display:none;
	}	
	.home .splash-logo, #splashscreen-copy .corner-icon {
	display:none;
	}

}


.home #splash-arrow-white  {
	display:none;
}
.home #splashscreen-content {
	
}
.home #splashscreen-corner {
	position: absolute;
    	transform: rotate(180deg);
    	width: 20px;
    	height: 20px;
	right:20px;
    	fill: #f1b13b;
        transition: fill 1.5s ease;

}
.home #splash-arrow-white svg {
	fill:transparent;
	stroke:#fff;
	width:100%;
	height:100%;
}
.home .splash-arrow svg {
	fill:transparent;
	stroke:#040404;
	width:100%;
	height:100%;
}
.home #splash-arrow-black-about {
	display:none;
}
.home .splash-arrow {
	border:1px solid #040404;
	display:none;
	opacity:0.2;
}
.splash-logo{
	z-index:-1;
	position:absolute;
}
.corner-icon {
	fill:#fff;
	z-index:1;
	opacity:0;
}
.home #detale-corner {
	width:150px;
	height:150px;
	background-image:url('img/detale-corner.svg');
	background-size:100%;
	position: absolute;
   	bottom: 0px;
    	left: 0px;
    	display: block;
    	-moz-transform: translate(-50%, 0);
    	-ms-transform: translate(-50%, 0);
    	-webkit-transform: translate(-50%, 0);
    	transform: translate(-50%, 0);
	z-index:8;
	cursor:pointer;
}
#splashscreen-slide-bg {
	background: rgb(26, 70, 135);
	width:100%; 
	height:100%;
	position:absolute;
	-webkit-transition: all ease 3s;
	-moz-transition: all ease 3s;
	transition: all ease 3s;
	
}
#splashscreen .splashscreen-slide {
	right:0vw;
	top:0vw;
	z-index:2;
}
#splashscreen-content {
	position:absolute;
	width:100%;	
	max-width:650px;
	padding:20px;
	left:50%;
	top:49%;
	z-index:0;
	text-align:center;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
    	-ms-transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
	display:none;
	
}
#splashscreen-content h2 { 
	font-weight:100;
	font-size:16px;
	line-height:24px;
}
#splashscreen-content h1 { 
	font-weight:600;
	font-size:24px;
	line-height:36px;
}
.active-slide {
	z-index:4 !important;
}
.underlay-slide {
	z-index:3 !important;
}
#splashscreen .slide-information {
    position: absolute;
    width: 350px;
    font-size: 12px;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(255,255,255,0.6);
    padding-left: 25px;
    overflow: hidden;
    text-transform:uppercase;
    font-weight:400;
    font-size:15px;
    text-decoration:none;
}
#splashscreen .slide-information:hover { 
    color: rgba(255,255,255,1);
}
#splashscreen .hover-logo {
    opacity:0;
}
#splashscreen .base-logo {
    opacity:1;
}	
/*--------------------------------------------------------------
		      ABOUT AREA STYLING
--------------------------------------------------------------*/
#about-detale {
	padding-bottom:0px;
	position:relative;
	height: auto;
    	overflow: visible;
    	min-height: 100vh !important
}
#about-detale .section-about h1 {
	margin-bottom:100px;
}
#about-detale .section-about  {
	max-width: 650px;
	width:100%;
    	margin: 0px auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translate(-50%, -50%);
    	-ms-transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
}

.portfolio-slider .slick-arrow {
	display: block;
	height: 2.6vh;
	width: 2.6vh;
	z-index:1;
}

.portfolio-slider .slick-arrow:before {
	background: rgba(0,0,0,0.1);
	border-radius: 100%;
	content: "";
	height: calc(100% + 10px);
	position: absolute;
	width: calc(100% + 10px);
}

.portfolio-slider .slick-arrow, .portfolio-slider .slick-arrow svg, .portfolio-slider .slick-arrow:before {
	position: absolute;
	top: 50%; 
	transform: translate(0, -50%);
}

.portfolio-slider .slick-arrow svg {
	fill: #fff;
	height: 100%;
}

.port-slick-next svg path, .port-slick-prev svg path {
	transition: fill .15s ease-in-out;
}
.port-slick-next:hover svg path, .port-slick-prev:hover svg path {
	fill: rgb(26, 70, 135);
}

.portfolio-slider .port-slick-next {
	right: 2.5rem;
}
.portfolio-slider .port-slick-prev {
	left: 2.5rem;
}

.portfolio-slider .port-slick-next.slick-arrow:before {
	right: -6px;
}
.portfolio-slider .port-slick-prev.slick-arrow:before {
	left: -6px;
}

.portfolio-slider .port-slick-prev svg {
	left: 0px;
}
.portfolio-slider .port-slick-next svg {
	right: 0px;
}	

@media screen and (max-width: 480px) {
	.portfolio-slider .port-slick-next {
		right: 1.4rem;
	}
	.portfolio-slider .port-slick-prev {
		left: 1.4rem;
	}

	.portfolio-slider .slick-arrow {
		height: 3.4vh;
		width: 3.4vh;
	}
}

#splashscreen .single-slide {
	z-index:10;
}
#splashscreen .single-slide .slide-image .slide-image-container {
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin:0px auto;  
	margin-top:2.5%;	
}
#splashscreen .single-slide .slide-image .slide-image-Portrait {
	width:100%;
	max-width: 225px;
    	height: 550px;
}
#splashscreen .single-slide .slide-image .slide-image-Landscape {
	width:100%;
	max-width: 900px;	
	height: 550px;
}
#splashscreen .single-slide h3 {
	
}	
#splashscreen  #animated-slides {
	z-index:5;
	opacity:0;
	display:none;
}
#about-detale .about-content {
	text-align: left;
   	line-height: 30px;
	padding:20px;
}
#about-detale .about-content p {
	margin:0px;
	padding:0px;
	text-align:left;
}
#about-detale .about-content h2 {
	margin:0px;
} 
#about-detale .about-content span {
	font-size:10px;
	margin-bottom:20px;
}
#about-detale .about-content .about-header {
	margin-bottom: 10px;
}
#about-detale .about-content .about-header p {
	font-size:14px;
	font-weight:300;
	margin-left:5px;
	letter-spacing:1px;
	margin-top: 5px;
	
}
#about-detale .about-content .about-header img {
	margin-bottom:-10px;
	margin-left:-5px;
}
#about-detale .about-content .about-header h2{
	letter-spacing:0.25px;
	margin-bottom:-3px;
}
#about-detale .about-content .about-def strong {
	font-weight: 500;
    	font-size: 16px;
	letter-spacing: 0.25px;
	text-transform:uppercase;
}
#about-detale .about-content .about-def {
	margin-bottom:10px;
	margin-top:10px;
}	
#about-detale .about-content span {
	font-size:13px;
	margin-left:5px;
}
#about-detale .noun {
	font-size: 13px;
    	font-style: italic;
}
#about-detale h1, .section-title polygon {
	color:#f1b13b;
}
#about-detale .section-title .st0 {
	fill:#f1b13b;
}
#splashscreen .slide-image {
	height:100vh;
}
#splashscreen .slide-image {
	height:100vh;
}
#splashscreen #animated-logo {
	width: 100%;
    	height: 100px;
    	position: absolute;
    	overflow: hidden;
	margin-left:17.5%;
}
#splashscreen #animated-logo img{
	position: absolute;
    	left: 0px;
	max-width: 100%;
   	height: auto !important;
}
#splashscreen #animated-logo img text{
	height:100px;
}
#splashscreen #animated-logo img {
       background: transparent !important;
}
#splashscreen #animated-logo .anm-logo {
	display:none;
	opacity:0.7 !important;
} 
#splashscreen .animated-logo-area {
	max-width:100%;
}
#splashscreen .detale-logo-corner {
	left: 21.5%;
    	width: 65%;
    	position: absolute;
    	top: 10px;
}	
/*--------------------------------------------------------------
		    ABOUT CONTENT ANIMATION  CSS
--------------------------------------------------------------*/
.animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    opacity:0;
}
.animated.hinge {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}
@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
}
@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}


.slick-dots {
    display: block;
    list-style: none;
    position: absolute;
    top: 20px;
    right: 30px;
}
.slick-dots li button {
    background-color: #fff;
    border: none;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    padding: 0px;
    border-radius: 7px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    display: block;
}
.slick-dots li {
    border: 1px solid transparent;
    width: 12px;
    padding: 0px;
    height: 12px;
    margin: 0px;
    padding: 1px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.slick-dots .slick-active {
    border: 1px solid #fff;
}
/*--------------------------------------------------------------
		      PORTFOLIO AREA STYLING
--------------------------------------------------------------*/
#portfolio-content {
	max-width:100%;
	min-width:100%;
	overflow:scroll;
	padding-top:40px;
	left:-100%;	
}
#portfolio h1, .section-title polygon {
	color:#1a4687;
}
#portfolio .section-title .st0 {
	fill:#1a4687;
}
#portfolio-content .portfolio-information {
	position:relative;
	float:left;
	width:25%;
	min-height:100%;
}
#portfolio-content .portfolio-information-inner {
	position:fixed;
	width:25%;
}
#portfolio .section-portfolio .section-content {
    	margin: 0px auto;
}
#portfolio-content .portfolio-images {
	overflow: scroll;
    	float: left;
    	width: 75%;
    	padding: 30px;
    	padding-top: 20px;
}
.portfolio-corner {
	position: absolute;
    	bottom: -10px;
    	width: 15%;
    	height: 15%;
    	fill: #fff;
}
#portfolio .section-content {
	padding-top:0px;
}
#portfolio-content .portfolio-images > img {
	margin-bottom:15px;
	width:100%;
}
#portfolio-content .portfolio-desc {
	padding: 40px;
	font-size: 12px;
	text-align: left;
	font-weight: 300;
	line-height: 22px;
	padding-top:10px;
	overflow:scroll;	
	height:400px;
	margin-top:20px;
	margin-bottom:20px;
	max-height:62.5vh;
	
}
#portfolio-content .portfolio-title {
	margin-bottom: 0px;
    	text-align: left;
    	padding-left: 40px;
    	text-transform: uppercase;
    	letter-spacing: 1px;
}
#portfolio-content .portfolio-title h3 { 
	font-size: 33px;
    	margin-top: 20px;
    	letter-spacing: -1px;
    	line-height: 30px;
    	margin-bottom: 10px;
}
#portfolio-content .portfolio-services {
	padding: 10px;
    	padding-left: 40px;
    	padding-top: 0px;
    	overflow: scroll;
    	height: 195px;
   	margin-bottom: 0px;
	display:none;	
}
#portfolio-content .portfolio-btns {
	margin-bottom:20px;
}
#portfolio-content .portfolio-btns .site-btn {
	width:105px;
	margin-bottom: 15px;

}
#portfolio-content .portfolio-btns .brand_btn {
	width:140px;
    	margin-bottom: 15px;
}
#portfolio-content .portfolio-services p {
	font-size: 11px;
    	font-weight: 300;
    	text-align: left;
    	line-height: 21px;
    	font-weight: 500;
	margin-top:0px;
	color:#666;
}
#portfolio-content .portfolio-services .serv-title {
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin-top: 0px;
    	margin-bottom: 5px;
}
.portfolio-area-exit {
	position: absolute;
    	top: 25px;
    	right: 40px;
    	z-index: 1000;
    	cursor: pointer;
    	background-image: url('img/detale-cancel.svg');
    	width: 15px;
    	height: 15px;
	
}
.portfolio-back {
	position: absolute;
    	font-size: 13px;
    	font-weight: 500;
    	left: 30px;
    	top: -20px;
    	text-transform: uppercase;
	cursor:pointer;
	padding: 5px;
    	padding-left: 10px;
    	padding-right: 10px;
}
.portfolio-back:hover {
}
.portfolio-exit-bg {
	position: absolute;
    	top: 15px;
    	right: 30px;
    	z-index: 1000;
    	cursor: pointer;
    	background-color: rgba(255,255,255,0.8);
    	width: 35px;
    	height: 35px;
    	z-index: 0;
	-webkit-border-radius: 17.5px;
	-moz-border-radius: 17.5px;
	border-radius: 17.5px;
}
#portfolio-content  {
	background-color:#fdfdfd;	
	z-index:100;
}
#portfolio-content .content-area {
	overflow:scroll;
}
#portfolio-content .placeholder {
	
    	position: absolute;
    	bottom: 50%;
    	left: 60px;
    	text-transform: uppercase;
    	font-weight: 100;
    	letter-spacing: 1px;
	color:#333;

}
.single-portfolio {
	
}
.portfolio-item {
	width:25%;
	height:auto;
	cursor:pointer;
	position:relative;
	float:left;
	background-size:100%;
	overflow:hidden;
}
.portfolio-item img {
	margin-bottom:-10px;
}
.link-wrapper {
	position: absolute;
	top: 50%;
    	left: 50%;
	width:70%;
	z-index:10;
	opacity:0;
	-moz-transform: translateX(-50%) translateY(-50%);
   	-webkit-transform: translateX(-50%) translateY(-50%);
    	-o-transform: translateX(-50%) translateY(-50%);
    	-ms-transform: translateX(-50%) translateY(-50%);
    	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all 600ms linear;
    	-moz-transition: all 600ms linear;
    	-ms-transition: all 600ms linear;
   	-o-transition: all 600ms linear;
    	transition: all 600ms linear;
	color:#fff;
}
#portfolio .portfolio-item .port-image-overlay:hover .link-wrapper {
	opacity:1;
} 
.portfolio-item h6 {
    	margin: 0px;
	max-height:45px;
	overflow:hidden;
    	font-size: 24px;
	font-weight:900;
	line-height:23px;
	text-transform:uppercase;
    	letter-spacing: 0px;
	z-index:100;
	-webkit-transition-delay: 2s; /* Safari */
    	transition-delay: 2s;
	-webkit-transition: all 300ms linear;
    	-moz-transition: all 300ms linear;
    	-ms-transition: all 300ms linear;
   	-o-transition: all 300ms linear;
    	transition: all 300ms linear;
	margin-top:-5px;
	
}
.portfolio-item .portfolio-tags {
	font-size: 10px !important;
    	margin-top: 10px;
	z-index:5;
	
}
#portfolio .portfolio-item .port-image-overlay {
	position: absolute;
    	width: 100%;
    	height: 100%;
	top: 0px;
	-webkit-transition: all 300ms linear;
    	-moz-transition: all 300ms linear;
    	-ms-transition: all 300ms linear;
   	-o-transition: all 300ms linear;
    	transition: all 300ms linear;
	opacity:0;
	z-index:8;

}		

#portfolio .portfolio-item:hover .link-wrapper, #portfolio .portfolio-item:hover .port-image-overlay {
	opacity:1;
}
#portfolio .portfolio-item:hover h6 {
	margin-top:0px;
}

#portfolio .portfolio-item:hover { 
	background:#fff;
	background-image:none;
	text-indent:0px;
}
.second-port {
	background-color:#dedede;
}

.portfolio-item .topright {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-left: 100px solid transparent;

}
.portfolio-item:hover {
	background-color:#ccc;
}
.slide-reveal-overlay {
	background-color:rgba(0,0,0,0) !important;
}
#portfolio .section-portfolio {
	min-height:650px;
}
#portfolio {
	padding-bottom:0px;
}
.border-portfolio {
	background-color:#f1b13b;
}
.hidden-content {
	left:-150vw !important;
}
#portfolio-content .portfolio-slider {
	position: relative;
    	float: left;
   	width: 100%;
} 	
/*--------------------------------------------------------------
		    SINGLE PORTFOLIO STYLING
--------------------------------------------------------------*/
#portfolio-content .portfolio-images .main-icon {
	width: 60% !important;
    	margin: 0px auto;
    	background-color: transparent !important;
    	left: 50% !important;
}
#portfolio-content .portfolio-images  .main-icon-container {
	width:100% !important;
	min-height:250px;
	position:relative;
}
#portfolio-content .portfolio-images .main-icon img {
	width: 35%;
	min-width: 200px;
}
#portfolio-content .portfolio-images .main-icon p {
	text-transform: uppercase;
    	font-size: 12px;
	margin-top: 0px;
    	margin-bottom: 40px;
}
#portfolio-content .portfolio-images .icon-table {
	width: 100%;
    	margin-top: 60px;
    	margin-bottom: 30px;
    	position: relative;
    	float: left;
    	overflow: hidden;
}
#portfolio-content .portfolio-images .single-icon {
	width: 14.2%;
    	position: relative;
    	float: left;
    	min-width: 70px;
	height:110px;
}
#portfolio-content .portfolio-images .single-icon img {
	width: 30%;
    	min-width: 35px;
    	margin-bottom: 0px;
	opacity:0.5;
}
#portfolio-content .portfolio-images .single-icon p {
	text-transform: uppercase;
    	font-size: 8px;
    	margin: 10px;
}
#portfolio-content .portfolio-custom-content {
	position:relative;
	float:left;
	width:100%;
}
#portfolio .portfolio-item .port-color-1, #portfolio .portfolio-item .port-color-7 {
	background-color:rgba(0, 166, 126, 0.98);
}
#portfolio .portfolio-item .port-color-2, #portfolio .portfolio-item .port-color-8 {
	background-color:rgba(26, 70, 135, 0.98);
}
#portfolio .portfolio-item .port-color-3, #portfolio .portfolio-item .port-color-5 {
	background-color:rgba(241, 177, 59, 0.98);
}
#portfolio .portfolio-item .port-color-4, #portfolio .portfolio-item .port-color-6 {
	background-color:rgba(218, 64, 50, 0.98);
}
.port-color-1 .portfolio-back, .port-color-7 .portfolio-back {
	color:rgba(0, 166, 126, 1);
}
.port-color-2 .portfolio-back, .port-color-8 .portfolio-back {
	color:rgba(26, 70, 135, 1);
}
.port-color-3 .portfolio-back, .port-color-5 .portfolio-back{
	color:rgba(241, 177, 59, 1);
}
.port-color-4 .portfolio-back, .port-color-6 .portfolio-back {
	color:rgba(218, 64, 50, 1);
}
.port-color-1 .portfolio-back:hover, .port-color-7 .portfolio-back:hover {
	background-color:rgba(0, 166, 126, 1);
	color:#fff;
}
.port-color-2 .portfolio-back:hover, .port-color-0 .portfolio-back:hover {
	background-color:rgba(26, 70, 135, 1);
	color:#fff;
}
.port-color-3 .portfolio-back:hover, .port-color-5 .portfolio-back:hover {
	background-color:rgba(241, 177, 59, 1);
	color:#fff;
}
.port-color-4 .portfolio-back:hover, .port-color-6 .portfolio-back:hover {
	background-color:rgba(218, 64, 50, 1);
	color:#fff;
}
.portfolio-information-inner ::-webkit-scrollbar {
    -webkit-appearance: none;
    
}
.portfolio-information-inner ::-webkit-scrollbar-thumb {
    border-radius: 5px; 
    width:5px;
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.port-color-1 ::-webkit-scrollbar-thumb, .port-color-7 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 166, 126, 0.5);
}
.port-color-2 ::-webkit-scrollbar-thumb, .port-color-0 ::-webkit-scrollbar-thumb {
    background-color: rgba(26, 70, 135, 0.5);
}
.port-color-3 ::-webkit-scrollbar-thumb, .port-color-5 ::-webkit-scrollbar-thumb {
    background-color: rgba(241, 177, 59, 0.5);
}
.port-color-4 ::-webkit-scrollbar-thumb, .port-color-6 ::-webkit-scrollbar-thumb {
    background-color: rgba(218, 64, 50, 0.5);
}
.portfolio-information-inner ::-webkit-scrollbar {
    width:4px;
}	
#portfolio-content .portfolio_btn {
    padding: 10px;
    background-color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s; 
    transition: all ease 0.5s;
}
#portfolio-content .portfolio-btns {
    padding: 0px 10px 10px 40px;
    text-align:left;		
}
#portfolio-content .port-color-1 .portfolio_btn,  #portfolio-content .port-color-7 .portfolio_btn {
    box-shadow: inset 0 0 0 0 rgba(0, 166, 126, 1);
}
#portfolio-content .port-color-1 .portfolio_btn:hover,  #portfolio-content .port-color-7 .portfolio_btn:hover {
    box-shadow: inset 0 100px 0 0 rgba(0, 166, 126, 1);
}
#portfolio-content .port-color-2 .portfolio_btn,  #portfolio-content .port-color-8 .portfolio_btn {
	box-shadow: inset 0 0 0 0 rgba(26, 70, 135, 1);
}
#portfolio-content .port-color-2 .portfolio_btn:hover,  #portfolio-content .port-color-8 .portfolio_btn:hover {
	box-shadow: inset 0 100px 0 0 rgba(26, 70, 135, 1);
}
#portfolio-content .port-color-3 .portfolio_btn,  #portfolio-content .port-color-5 .portfolio_btn {
	box-shadow: inset 0 0 0 0 rgba(241, 177, 59, 1);
}
#portfolio-content .port-color-3 .portfolio_btn:hover,  #portfolio-content .port-color-5 .portfolio_btn:hover {
	box-shadow: inset 0 100px 0 0 rgba(241, 177, 59, 1);
}
#portfolio-content .port-color-4 .portfolio_btn,  #portfolio-content .port-color-6 .portfolio_btn {
	box-shadow: inset 0 0 0 0 rgba(218, 64, 50, 1);
}
#portfolio-content .port-color-4 .portfolio_btn:hover,  #portfolio-content .port-color-6 .portfolio_btn:hover {
	box-shadow: inset 0 100px 0 0 rgba(218, 64, 50, 1);
}

#portfolio-content .portfolio-scroll-wrapper {
	padding:20px;
	padding-right: 20px;
    	width: 100%;
    	margin: 0px auto;
    	border-radius: 10px;
	padding-bottom:10px;
}
#portfolio-content .dark-scroll-wrapper {
	background-color: #eeeeef;
    	margin-bottom: 30px;
    	margin-top: 20px;
    	border-radius: 0px;
    	padding: 20px;
    	padding-right: 20px;
    	padding-left: 30px;
    	padding-top: 30px;
    	padding-bottom: 15px;
}
#portfolio-content .dark-scroll-wrapper ::-webkit-scrollbar-thumb {
    background-color: rgba(164, 164, 164, 1) !important;
}
#portfolio-content .portfolio-scroll-wrapper .portfolio-scroll {
	width: 100%;
	margin: 0px auto;
	height: 625px;
	overflow: scroll;
}
#portfolio-content .portfolio-scroll-wrapper .portfolio-scroll img {
	margin-left: -5px;
	margin-bottom:-7px;
}
#portfolio-content .portfolio-scroll-wrapper ::-webkit-scrollbar {
    -webkit-appearance: none;
    width:4px;
    margin-left:2px;
    margin-right:2px;
}
#portfolio-content .portfolio-scroll-wrapper  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.6);
    border-radius:5px;
}
#portfolio-content .portfolio-scroll-wrapper  ::-webkit-scrollbar-corner { 
	background-color: rgba(0,0,0,0);	
}

#portfolio-content .portfolio-scroll-wrapper ::-webkit-scrollbar-track {
	background-color:transparent;
}

/*--------------------------------------------------------------
		    PORTFOLIO STYLING - SLIDER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
		    CONTACT STYLING
--------------------------------------------------------------*/
#contact {
	padding-top: 150px;
	position:relative;
}
#contact .section-contact  {
    max-width: 650px;
    width: 100%;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.contact-link {
	text-decoration: none;
    	font-size: 18px;
    	color: #888 !important;
    	letter-spacing: 9px;
    	font-weight: 400;
    	padding-bottom: 20px;
    	line-height: 31px;
    	margin-top: 20px;
	cursor:pointer;
	text-transform:uppercase;

}
#contact h1, .section-title polygon {
	color:#da4032;
}
#contact .section-title .st0 {
	fill:#da4032;
}
.section-contact p {
	padding-top:10px;
}
.section-contact {

}
#contact {
	padding-bottom:0px;
}
.border-contact {
	background-color:#1a4687;
}
#contact .contact-info-content p{
	font-weight: 100;
    	font-size: 13px;
    	line-height: 23px;
	margin:0px;
	padding:0px;
}
#contact .contact-info-content {
	display:none;
	width:100%;
	margin:0px;
	padding:0px;
	padding:20px;
	padding-top:0px;
	padding-left:10px;
}
#contact .contact-info-title {
	height:50px;
}
#contact a {
	text-decoration:none;
	color:#040404;
}
#contact #company-contact {
	padding-left:20px;
	padding-right:20px;
}
.contact-1, .contact-2, .contact-3, .contact-4 {
	border-bottom:1px solid #eee;
}
/*--------------------------------------------------------------
		    FOOTER STYLING
--------------------------------------------------------------*/
.site-footer {
	position:relative;
   	left:0px;
   	bottom:0px;
   	height:50px;
  	width:100%;
	text-align:center;
}
.site-footer .site-info {
	position: absolute;
    	width: 100%;
    	bottom: 5px;
	font-size:8px;
	color:#ccc;
	
}
/*--------------------------------------------------------------
		    BROWSER RESIZE STYLING
--------------------------------------------------------------*/
@media screen and (max-width: 1280px) { 
	#portfolio-content .portfolio-images .main-icon {
		width: 75% !important;
	}
}
@media screen and (max-width: 1140px) { 
	#portfolio-content .portfolio-images .main-icon {
		width: 85% !important;
	}
	
}
@media screen and (max-width: 830px) { 
	#portfolio-content .portfolio-images .main-icon img {
		width:55%;
	}
}
@media screen and (max-width: 720px) { 
	#portfolio-content .portfolio-images .main-icon img {
		width:45%;
	}
}
@media screen and (max-width: 550px) { 
	#portfolio-content .portfolio-images .main-icon img {
		width:55%;
	}
}
	
@media screen and (max-width: 1120px) {  /* -- If the view port is less than 1120px wide then display the following styles -- */
   #portfolio .portfolio-item {
       width:33.3%;
   }
   #portfolio-content .portfolio-information-inner, #portfolio-content .portfolio-information {
	width:40%;
   }
   #portfolio-content .portfolio-images {
	width:60%;
   }

}
@media screen and (max-width: 720px) {  /* -- If the view port is less than 720px wide then display the following styles -- */
   #portfolio .portfolio-item {
       width:50%;
   }
   #masthead #primary-menu li a {
	font-size:25px;
	border-bottom:0px;
   }
   #portfolio-content .portfolio-information-inner, #portfolio-content .portfolio-information        	         	  {
	width:100%;
   }
   #portfolio-content .portfolio-information  {
	min-height:0%;
   }
   #portfolio-content .portfolio-information-inner {
	position:relative;  
   }
   #portfolio-content .portfolio-images {
	width:100%;
   }
   #portfolio-content .portfolio-images .icon-table  {
	display:none;
   }
   #portfolio-content .portfolio-custom-content {
	margin-bottom:60px;
   }
   #primary-menu {
	margin:0px;
	padding:0px;
   }
   burger-menu {
	padding:20px;
   }
   #splashscreen .single-slide .slide-image .slide-image-Portrait {
   	width: 169px;
    	height: 412.5px;
   }
    #splashscreen .single-slide .slide-image .slide-image-Landscape {
   	height:350px
   }
   #splashscreen .single-slide .slide-image .slide-image-container {
	margin-top:20%;
	width:90%;
   }
   #splashscreen .slick-arrow {
	display:none !important;
   }
   #portfolio-content .portfolio-desc {
	height:100%;
	overflow:visible;
   }
   #portfolio-content .portfolio-back {
  	top: -45px;
   }
   #portfolio-content .dark-scroll-wrapper {
	height:90vh;
   }
   #portfolio-content .portfolio-scroll-wrapper .portfolio-scroll {
	height:100%;
   }
}
@media screen and (max-width: 480px) {  /* -- If the view port is less than 720px wide then display the following styles -- */
   #portfolio .portfolio-item {
       width:100%;
   }
   #portfolio-content .portfolio-images {
	padding:0px;
   }
   #portfolio-content .portfolio-images img {
	margin: 0px;
    	padding: 0px;
    	
   }
   .home #detale-corner {
	bottom:-10px;
   }
   .home #splashscreen {
	height:90vh;
   }
    #splashscreen .single-slide .slide-image .slide-image-Landscape {
   	height:250px
   }
   #splashscreen .single-slide .slide-image .slide-image-Portrait {
	max-width:165px;
   }
   #splashscreen .single-slide .slide-image .slide-image-Landscape {
	margin-top:30%;
   }	
   #portfolio .portfolio-item .port-image-overlay {
	opacity:0;
   }
   #portfolio .portfolio-item h6 {
	
   }
   .portfolio-area-exit {
    		top: 10px;
    		right: 10px;
	}
	.portfolio-exit-bg {
  		top: 0px;
    		right: 0px;
	}
}
@media screen and (max-width: 720px) {  /* -- If the view port is less than 720px wide then display the following styles -- */
	#portfolio-content .portfolio-desc {
		max-height:initial;
	}
}
@media screen and (max-width: 480px) {
	#portfolio .portfolio-item:hover h6, #portfolio .portfolio-item:hover .port-image-overlay {
	}

	#portfolio .portfolio-item:hover .portfolio-tags, #portfolio .portfolio-item:hover .port-image-overlay {
	}
	.sticks_wrapper {
		width: 40px;
    		height: 40px;
    		padding: 5px;
	}
	.sticks_wrapper .stick {
		width:80%;
	}
	#portfolio-content .portfolio-slider {
		padding-top:20px;
		padding-bottom:20px;
	}
}
@media screen and (max-width: 420px) {
	#about-detale {
		height:700px;
	}
}
@media screen and (device-aspect-ratio: 40/71) {
	.home #detale-corner {
		display:none;
	}
	#about-detale .section-about {
		margin-top:30px;
	}
}